<AuthorizeView>
    <Authorized>
        <span class="me-2">Hello, @context.User.Identity?.Name!</span>
        <a class="btn btn-link" href="authentication/profile">Profile</a>
        <button class="btn btn-link" @onclick="BeginLogout">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-primary" href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Inject]
    private NavigationManager Navigation { get; set; } = default!;

    private void BeginLogout()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
